#nineteenth .szb-vfr-btns {
  display: flex;
  gap: 10px;
  width: 100%;
}

#nineteenth .vfr__container {
  display: flex;
  width: 100%;
}

#nineteenth .vfr__button--clean {
  width: fit-content;
  display: flex;
  padding: 1em 0.5em;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0, 0, 0, .2);
  transition: background .3s ease;
  width: 50%;
  height: 50px;
  align-self: center;
  justify-content: center;
}

#nineteenth .vfr__button--clean span {
  align-self: center;
  font-size: 14px;
}

#nineteenth .vfr__button--clean:hover {
  background-size: 320%;
  background-position: right center;
}

#nineteenth .vfr__button--clean:hover svg path {
  fill: #fff !important;
}

#nineteenth .vfr__button--clean svg {
  width: 23px;
  transition: .3s ease;
  align-self: center;
}

#nineteenth .vfr__button--clean svg path {
  fill: #f09f33 !important;
  align-self: center;
}