@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@font-face {
  font-family: 'Sizebay';
  src: url('https://static.sizebay.technology/font/stores/fontRuler/fonts/buttons-icons.woff');
}

@font-face {
  font-family: 'Sizebay';
  src: url('https://static.sizebay.technology/font/stores/fontRuler/fonts/untitled-font-3.woff');
}

#seventeenth .vfr__container {
  width: 100%;
}

#seventeenth .szb-vfr-btns {
  gap: 10px;
  display: flex;
}

#seventeenth .vfr__button--clean {
  width: auto;
  height: 50px;
  font-size: 13px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #c9c3c3;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center !important;
}


#seventeenth button#szb-vfr-button:before,
#seventeenth button#szb-chart-button:before {
  font-family: 'Sizebay';
  font-size: 19px;
  text-transform: none;
  margin-right: 10px;
  align-self: center;
  color: var(--color2);
  font-weight: unset;
}

#seventeenth button#szb-vfr-button:hover:before,
#seventeenth button#szb-chart-button:hover:before {
  color: white;
}

#seventeenth #szb-vfr-button:before {
  height: 13px;
  content: '\61';
}

#seventeenth #szb-chart-button:before {
  height: 13px;
  content: '\62';
}

#seventeenth .vfr__button--clean:hover {
  box-shadow: inset 0 0 0 4px #ef476f,
    inset 0 0 0 8px #ffd166,
    inset 0 0 0 12px #06d6a0,
    inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
  border: none;
}