@font-face {
  font-family: 'Montserrat';
  src: url('https://static.sizebay.technology/1079/Montserrat-Regular.ttf');
}

:root {
  --main-font: 'Montserrat', sans-serif;
  --main-color: #4d5959;
  --mainPrimary-color: #121212;
}

@font-face {
  font-family: 'untitled-font-3';
  src: url('../font/stores/fontRuler/fonts/untitled-font-3.woff');
  font-weight: normal;
  font-style: normal;
}

div#first .vfr__button--clean:focus {
  outline: 0 !important;
}

div#first .vfr__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

div#first .szb-vfr-btns {
  justify-content: left;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

div#first .vfr__button--clean,
div#first .vfr__button--clean-icon {
  position: relative;
  line-height: normal;
  font-size: 10px;
  /* XXX */
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 500;
  padding-right: 7px;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px #00000021;
  border-radius: 20px;
}

div#first .vfr__button--clean-icon:hover,
div#first .vfr__button--clean:hover {
  text-decoration: none;
  color: var(--main-color);
  border: 1px solid #eee;
  background-color: #fefefe;
}

div#first button#szb-vfr-button:before,
div#first button#szb-chart-button:before {
  display: flex;
  content: '';
  margin-right: 10px;
}

div#first button#szb-vfr-button:before {
  background: url(https://static.sizebay.technology/icons/hanger40x40.svg) center center / 100% 100% no-repeat;
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;
  background-color: #eee;
  border-radius: 20px 0px 0px 20px;
  margin-left: -3px;
}

div#first button#szb-chart-button:before {
  background: url(https://vincishoes-us.com/cdn/shop/files/fitametrica.svg?v=1669735556) center center / 100% 100% no-repeat;
  transform: rotate(1deg);
  height: 45px;
  width: 45px;
  margin-bottom: 0%;
  margin-left: -3px;
  background-color: #eee;
  border-radius: 20px 0px 0px 20px;
}

@media screen and (max-width: 768px) {
  div#first .vfr__container {
    margin-left: 0px;
  }

  div#first .vfr__button--clean,
  div#first .vfr__button--clean-icon {
    font-size: 13px;
  }

  div#first .szb-vfr-btns {
    flex-direction: column;
  }

  div#first button#szb-chart-button,
  div#first button#szb-vfr-button {
    width: 70%;
    margin-top: 10px;
  }
}

div.vfr__container--backdrop.szb-modal-open,
iframe#szb-modal {
  z-index: 99999999999999999 !important;
}