.container-fluid,
header {
  padding: 3% 15%
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 340px;
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: #000
}

::-webkit-scrollbar-thumb {
  background: #888
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

body {
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: 'Silkscreen', cursive;
  font-size: 3em
}

a {
  text-decoration: none;
  color: currentColor
}

#title {
  font-family: 'Manrope', sans-serif
}

.lora {
  font-family: 'Manrope', sans-serif
}

#Embreve {
  text-align: center
}

h1 {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  font-size: 250%
}

h6 {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  font-size: 100%
}

h5 {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  font-size: 100%
}

.btn {
  margin-top: .5em
}

.b2 {
  margin-left: 10%;
  margin-top: .5em
}

.entry {
  padding-top: 10em;
  text-align: center;
}

a {
  color: currentColor;
  text-decoration: none
}

.row {
  margin-bottom: 8em;
}

.container-fluid2 {
  padding: 10% 15% 2% 15%;
  background-color: rgb(8, 8, 8)
}

@media (max-width:900px) {
  h1 {
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    text-align: center
  }

  h6 {
    font-size: 1rem
  }

  .entry {
    padding-top: 0em;
    padding-left: 0em
  }

  .btn {
    height: 6vh;
    width: 15vh;
    font-size: 2vh;
    margin-left: 2em;
    margin-top: 0em
  }

  .b2 {
    height: 6vh;
    width: 15vh;
    font-size: 2vh;
    margin-left: 2em;
    margin-top: 0em
  }
}

@media (max-width:960px) {
  h1 {
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    text-align: center
  }

  h6 {
    font-size: 1rem
  }

  .entry {
    padding-top: 0em;
    padding-left: 0em
  }

  .btn {
    height: 6vh;
    width: 15vh;
    font-size: 2vh;
    margin-left: 2em;
    margin-top: 0em
  }

  .b2 {
    height: 6vh;
    width: 15vh;
    font-size: 2vh;
    margin-left: 2em;
    margin-top: 0em
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin: auto;
  background-color: #f3f3f3;
  max-width: 1300px;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.number {
  background-color: #d1ebff;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  left: -15px !important;
}